// Specific CSS for your home-page


h1, h2, h3{

  color:white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.homepage_background_container{
  background-image: url('homepage.jpg');
  background-size: cover;
  background-position: center;


  // background-position: center;
  background-repeat:no-repeat;
  // background-size: cover;
}

.homepage_middle_div{
  display: flex;
  flex-direction: row;
  padding-top: 5%;
}


.homepage_left_div{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 50%;
  padding: 5%;
}

.homepage_right_div{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.homepage_button_div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 4vh;
  // justify-items: ;
}


.standby_background_container{
  background-image: url('homepage-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

}


.homepage-text-card {
  display: flex;
  height: fit-content;
  align-items: center;
  padding: 2rem;
  /* width: 90%; */
  background-color: rgba(24, 28, 36, 0.783);
  border-radius: 16px;
  position: relative;
  border: 3px solid #ffd7004d;
  background-clip: padding-box;
  text-align: center;
  color: #f1f3f3;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Drop shadow for the border */

  background-image: linear-gradient(
    135deg,
    rgba(237, 119, 29, 0.35),
    rgba(230, 226, 227, 0.1) 15%,
    #1b2028 20%,
    #1b2028 100%
  );

  &:after {
    content: "";
    display: block;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    z-index: -1;
    position: absolute;
    border-radius: 16px;
    background-image: linear-gradient(
      135deg,
			#752e7c,
			#734a58 20%,
			#1b2028 30%,
			#2c333e 50%
    );
  }
}







.body-404 {
  background-image: url("404.jpg");
  height: 100vh;
}
