// Specific CSS for your home-page


h1, h2, h3{

  color:white;

}

#my-heading {
 font-size: 50px;
}

.homepage_background_container{
  background-color: black;
}

.homepage_middle_div{
  display: flex;
  flex-direction: row;
  padding-top: 5%;
}

hr {
  opacity: 1;
  border-top: 3px solid $purple;
}

.homepage_left_div{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 50%;
  padding: 5%;
}

.homepage_right_div{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  align-items: center;
  justify-content: center;

}

.homepage_button_div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 4vh;
  // justify-items: ;
}


.standby_background_container{
  background-image: url('homepage-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

}


.active-spinner{
  display: inline;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hidden-spinner {
display: none;
}


.body-404 {
  background-image: url("404.jpg");
  height: 100vh;
}


.turbo-progress-bar {
  background-color: $purple;
}
