// Specific CSS for your home-page

.container {
  margin-top: 100px;
}

h1, h2, h3{

  color:white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.homepage_background_container{
  background-image: url('homepage-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // padding-top: 100px;
  text-align: center;
  height: 100vh;
}

.homepage_middle_div{
  display: flex;
  flex-direction: row;
  padding-top: 5%;
}


.homepage_left_div{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 50%;
  padding: 5%;
}

.homepage_right_div{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.homepage_button_div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 4vh;
  // justify-items: ;
}


.standby_background_container{
  background-image: url('homepage-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

}


.homepage-text-card {
  display: flex;
  height: fit-content;
  align-items: center;
  padding: 2rem;
  /* width: 90%; */
  background-color: rgba(24, 28, 36, 0.783);
  border-radius: 16px;
  position: relative;
  border: 3px solid #ffd7004d;
  background-clip: padding-box;
  text-align: center;
  color: #f1f3f3;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Drop shadow for the border */

  background-image: linear-gradient(
    135deg,
    rgba(237, 119, 29, 0.35),
    rgba(230, 226, 227, 0.1) 15%,
    #1b2028 20%,
    #1b2028 100%
  );

  &:after {
    content: "";
    display: block;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    z-index: -1;
    position: absolute;
    border-radius: 16px;
    background-image: linear-gradient(
      135deg,
			#752e7c,
			#734a58 20%,
			#1b2028 30%,
			#2c333e 50%
    );
  }
}




.active-spinner{
  display: inline;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hidden-spinner {
display: none;
}

.loader {
  display: block;
  width: 38px;
  height: 38px;
  transform: rotate(-45deg);
}
.loader div {
  display: block;
  width: 18px;
  height: 18px;
  background: #67127C;
  position: absolute;
}
.loader div:nth-child(1){
  top: 0;
  left: 0;
  animation: move1 1.2s ease-in-out infinite;
}
.loader div:nth-child(2){
  top: 0;
  left: 20px;
  animation: move2 1.2s ease-in-out infinite;
}
.loader div:nth-child(3){
  top: 20px;
  left: 20px;
  animation: move3 1.2s ease-in-out infinite;
}
.loader div:nth-child(4){
  top: 20px;
  left: 0;
  animation: move4 1.2s ease-in-out infinite;
}
.title p {
  font-family: 'Arial';
  text-transform: uppercase;
  margin-top: 20px;
  letter-spacing: 5px;
  font-size: 12px;
}
/* Animations */
@keyframes move1 {
  18.75% {
    width: 6px;
    height: 6px;
    margin-top: 12px;
    margin-left: 12px;
  }
  43.75% {
    width: 6px;
    height: 6px;
    margin-top: 12px;
    margin-left: 12px;
  }
  68.75% {
    width: 18px;
    height: 18px;
    margin-top: 0;
    margin-left: 0;
  }
  100% {
    width: 18px;
    height: 18px;
    margin-top: 0;
    margin-left: 0;
  }
}
@keyframes move2 {
  6.25% {
    width: 18px;
    height: 18px;
    margin-top: 0px;
    margin-left: 0px;
  }
  25% {
    width: 6px;
    height: 6px;
    margin-top: 12px;
    margin-left: 0px;
  }
  43.75% {
    width: 6px;
    height: 6px;
    margin-top: 12px;
    margin-left: 0;
  }
  56.25% {
    width: 6px;
    height: 6px;
    margin-top: 12px;
    margin-left: 0;
  }
  75% {
    width: 18px;
    height: 18px;
    margin-top: 0;
    margin-left: 0;
  }
}
@keyframes move3 {
  12.5% {
    width: 18px;
    height: 18px;
    margin-top: 0;
    margin-left: 0;
  }
  31.25% {
    width: 6px;
    height: 6px;
    margin-top: 0;
    margin-left: 0;
  }
  43.75% {
    width: 6px;
    height: 6px;
    margin-top: 0;
    margin-left: 0;
  }
  56.25% {
    width: 6px;
    height: 6px;
    margin-top: 0;
    margin-left: 0;
  }
  81.25% {
    width: 18px;
    height: 18px;
    margin-top: 0;
    margin-left: 0;
  }
}
@keyframes move4 {
  18.75% {
    width: 18px;
    height: 18px;
    margin-top: 0;
    margin-left: 0;
  }
  37.5% {
    width: 6px;
    height: 6px;
    margin-top: 0;
    margin-left: 12px;
  }
  43.75% {
    width: 6px;
    height: 6px;
    margin-top: 0;
    margin-left: 12px;
  }
  62.5% {
    width: 6px;
    height: 6px;
    margin-top: 0;
    margin-left: 12px;
  }
  87.5% {
    width: 18px;
    height: 18px;
    margin-top: 0;
    margin-left: 0;
  }
}


.body-404 {
  background-image: url("404.jpg");
  height: 100vh;
}
