<div class="container">
  <%= simple_form_for [@campaign, @encounter], html: { data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }} do |f| %>
    <template data-nested-form-target="template">
      <%= f.fields_for :enemies, Enemy.new, child_index: 'NEW_RECORD' do |enemy_fields| %>
        <%= render "encounter_form", f: enemy_fields %>
      <% end %>
    </template>
    <div data-nested-form-target="target"></div>
    <button type="button" data-action="nested-form#add">Add enemy</button>
    <div class="d-grid gap-2 col-3 mx-auto">
      <%= f.button :submit, "Begin combat!", class: "btn btn-primary"%>
      <input class="btn btn-success" type="reset" value="Reset form">
    </div>
  <% end %>
</div>
