<body class='world-background-image-div'>
  <div class="container d-flex flex-column">
    <h1 class="text-center">PREPARE FOR COMBAT</h1>
    <div class="card-container p-3 m-3 bg-dark bg-success bg-opacity-25" >
      <div class="card p-3 bg-success bg-opacity-25 d-flex">
        <h2>Enemy combatants:</h2>
        <%= simple_form_for [@campaign, @encounter], html: { data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }} do |f| %>
          <template data-nested-form-target="template">
            <%= f.fields_for :enemies, Enemy.new, child_index: 'NEW_RECORD' do |enemy_fields| %>
              <%= render "encounter_form", f: enemy_fields %>
            <% end %>
          </template>
          <div data-nested-form-target="target">
            <button type="button", class="btn purple-button" data-action="nested-form#add">+</button>
          </div>
        </div>
        <div class="card mt-3 p-3 bg-success bg-opacity-25 d-flex gap-3">
          <%= f.button :submit, "Begin combat!", class: "btn purple-button"%>
          <input class="btn purple-button" type="reset" value="Reset form">
        </div>
      <% end %>
    </div>
  </div>
</body>
