  <body class="homepage_background_container">
  <div class="container m-5 d-flex flex-column justify-content-between align-items-center flex-wrap">
    <h1 class="mt-5">Radiant</h1>
    <div class="homepage_middle_div row">
      <div class="homepage_left_div">
        <h2>The newest member of your party. An AI assistant that joins you on your journey.</h2>
        <p class="homepage-text-card", style="margin-top: 4vh;">Radiant is an AI powered assistant for game masters that provides procedurally generated, contextualized narrative prompts that helps keeps your narratives relevant and rich. </p>
      </div>
      <div class="homepage_right_div">
        <h2 style="margin-bottom: 20px">Start your campaign</h2>
        <%= link_to 'Campaigns', campaigns_path, class: "btn purple-button", style: "width: auto"%>
      </div>
    </div>
  </div>
</body>
<%# <%= form_tag '/gpt_test' do %>
  <%# <%= text_field_tag(:super_url) %>
  <%# <%= submit_tag("name")%>
  <%# <% end %>
