.world-index-buttons-container {
  display: flex;
  justify-content: center;
}

.world-index-buttons {
  display: flex;
  flex-direction: column;
}

.all-campaigns-h1-container {
  display: flex;
  justify-content: center;
  padding: 16px;
  margin: 32px;
  color: white;
  h1 {
    font-weight: 600;
  }
}
