.encounter-show-background{
  background-image: url(encounter-show-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.encounter-player-div{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}


.encounter-player-div img{

  height: 160px;
  border: solid;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, .5);

  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.encounter-player-div span{
  display: block;
  color: white;

}
