.target-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.target-item {
  flex: 0 0 30%;


  input + label {
    color: #932688;
  }

  input:checked + label {
    background-color: #932688;
    border-color: #932688;
    background-image: url("warrior-portrait.jpg");
    background-size: cover;
    font-weight: bold;
  }

}

.target-selector {
  position: absolute;
  transform: scale(0);
}

.target-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-weight: bold;

  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 3px solid #ffd7004d;
  margin: 4px;
  border-radius: 4px;

}

.target-selector:checked + label {
  color: white !important;
}




// #encounter_target_warrior + label {
//   color: #FFC65A;
// }

// #encounter_target_warrior:checked + label {
//   background-color: #FFC65A;
//   border-color: #FFC65A;
// }


// #encounter_target_fool + label {
//   color: #62DDF5;
// }

// #encounter_target_fool:checked + label {
//   background-color: #62DDF5;
//   border-color: #62DDF5;
// }
