.encounter-show-background{
  background-image: url(encounter-show-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.encounter-player-div{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}


.encounter-player-div img{

  height: 160px;
  border: solid;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, .5);

  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.encounter-player-div span{
  display: block;
  color: white;

}

.encounter-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4%;
  flex-wrap: wrap;
}

.encounter-container{
  width:auto;
}

.encounter-new-buttons-div{
  display: flex;
  flex-direction: row;
  gap: 1%;
  justify-content: center;
}

.icon-text {
  pointer-events: none;
}
