.target-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.target-item:nth-child(2) {
  flex: 0 0 30%;
  width: 125px;

  input + label {
    color: #932688;
  }

  input:checked + label {
    background-image: url("player1.jpg");
    background-size: cover;
    font-weight: bold;
  }
}

.target-item:nth-child(3) {
  flex: 0 0 30%;
  width: 125px;

  input + label {
    color: #932688;
  }

  input:checked + label {
    background-image: url("player2.jpg");
    background-size: cover;
    font-weight: bold;
  }
}

.target-item:nth-child(4) {
  flex: 0 0 30%;
  width: 125px;

  input + label {
    color: #932688;
  }

  input:checked + label {
    background-image: url("goblin.jpg");
    background-size: cover;
    font-weight: bold;
    background-position: 0% 35%;
  }
}

.target-item:nth-child(5) {
  flex: 0 0 30%;
  width: 125px;

  input + label {
    color: #932688;
  }

  input:checked + label {
    background-image: url("goblin.jpg");
    background-size: cover;
    font-weight: bold;
    background-position: 0% 35%;
  }
}

.target-selector {
  position: absolute;
  transform: scale(0);
}

.target-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-weight: bold;
  text-align: left;
  padding: 30px 15px 10px 10px;
  margin: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Drop shadow for the border */
  border-radius: 16px;
  background-color: #181c24;
  border: 3px solid #ffd7004d;
  background-clip: padding-box;

  background-image: linear-gradient(
		135deg,
    rgba(237, 119, 29, 0.35),
    rgba(230, 226, 227, 0.1) 15%,
    #1b2028 20%,
    #1b2028 100%
	);


}

.target-selector:checked + label {
  color: white !important;
}
