.encounter-show-background{
  background-image: url(encounter-show-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 16px;
  width: 100%;
  padding-top: 100px;
}

.encounter-player-div{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}


.encounter-player-div img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: solid;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.encounter-player-div span{
  display: block;
  color: white;

}
