#campaign_world_mood_comedic + label {
  color: green;
}

#campaign_world_mood_comedic:checked + label {
  background-color: green;
}

#campaign_world_mood_romantic + label {
  color: #FFC65A;
}

#campaign_world_mood_romantic:checked + label {
  background-color: #ce9630;
}

#campaign_world_mood_dark + label {
  color: #67803c;
}

#campaign_world_mood_dark:checked + label {
  background-color: #67803c;
}

#campaign_world_mood_epic + label {
  color: #dac865;
}

#campaign_world_mood_epic:checked + label {
  background-color: #b49c55;
}

#campaign_world_mood_medieval + label {
  color: #a67237;
}

#campaign_world_mood_medieval:checked + label {
  background-color: #573c1d;
}

#campaign_world_mood_high + label {
  color: #62DDF5;
}

#campaign_world_mood_high:checked + label {
  background-color: #41b1c7;
}
