.nav-world-background {
  background-color: black;
  padding-top: 100px;

  h3 {
    margin: 0;
    font-size: 2rem;
  }

  p {
    margin: 0;
    font-size: 1.25rem;
  }
}

.nav-world-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
  height: 86vh;
}

.nav-world-player-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6px 12px;
}

.nav-world-footer-left{
  display: flex;
  flex-direction: column;
}

.nav-world_footer-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-world-right-div{
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}



.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.nav-world-text-card {
  display: flex;
  height: fit-content;
  max-width: 676px;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  /* width: 90%; */
  background-color: rgb(24, 28, 36);
  border-radius: 16px;
  position: relative;
  border: 3px solid #ffd7004d;
  background-clip: padding-box;
  text-align: center;
  color: #f1f3f3;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Drop shadow for the border */

  background-image: linear-gradient(
    135deg,
    rgba(237, 119, 29, 0.35),
    rgba(230, 226, 227, 0.1) 15%,
    #1b2028 20%,
    #1b2028 100%
  );
}

.nav-world-card {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  height: auto;
    flex: 0 0 30%;
  // width: 80%;
  color: #f1f3f3;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Drop shadow for the border */
  border-radius: 16px;
  margin: 16px;
  background-color: #181c24;
  border: 3px solid #ffd7004d;
  background-clip: padding-box;

  background-image: linear-gradient(
		135deg,
		rgba(#752e7c, 0.35),
		rgba(#734a58, 0.1) 15%,
		#1b2028 20%,
		#1b2028 100%
	);

  h3 {
    font-size: 2rem;
  }
}

.combantant-card {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  height: auto;
    flex: 0 0 30%;
  // width: 80%;
  color: #f1f3f3;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Drop shadow for the border */
  border-radius: 16px;
  margin: 16px;
  background-color: #181c24;
  border: 3px solid #ffd7004d;
  background-clip: padding-box;

  background-image: linear-gradient(
		-45deg,
		rgba(#752e7c, 0.35),
		rgba(#734a58, 0.1) 15%,
		#1b2028 20%,
		#1b2028 100%
	);

  h3 {
    font-size: 2rem;
  }
}



.smaller-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  color: #f1f3f3;
  font-size: 1rem;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 16px;
  margin: 16px;
  background-color: #181c24;
  border: 3px solid #ffd7004d;
  background-clip: padding-box;
  background-image: linear-gradient(135deg, rgba(117, 46, 124, 0.35), rgba(115, 74, 88, 0.1) 15%, #1b2028 20%, #1b2028 100%);
}

.nav-world-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px;

}

.nav-world-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 16px 0px;
  font-size: 1rem;
  gap: 5rem;
}


.nav-world-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 8px;
}


.nav-world-card-image img {
  width: 100%;  /* Makes the image take up the full width of its container */
  height: auto;  /* This keeps the image's original aspect ratio */
  object-fit: cover;/* This ensures that the image covers the whole area of its container, cropping if necessary */
  display: block;  /* This removes the default inline-block nature of images */
  margin: 0 auto;  /* This centers the image */


}

.nav-world-icon {
  width: 50px;      /* Adjust these values to your preferred size */
  height: 50px;     /* Adjust these values to your preferred size */
  border-radius: 50%; /* Makes the image round */
  object-fit: cover;  /* Ensures the image covers the whole area and remains centered */
}
