.navbar-lewagon {
  padding: 0;
  justify-content: space-between;
  background-color: rgba(10, 10, 10, 0.15);

  backdrop-filter: blur(3px);
  border-bottom: 3px solid $purple;

  opacity: 1;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3000;
  box-shadow: 0 2px 4px 0 rgba(25,25,25,.2);
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-nav {
  height: 100%
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}

.navbar-lewagon .navbar-brand{
  border-right: 3px solid $purple;
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.avatar {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 17px;

}

.container-fluid {
  align-items: normal !important;
}


.active, .navbar-brand img{
  transition: all .2s ease-in-out;
}

.active:hover, .navbar-brand img:hover {
  transform: scale(1.05);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.8)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler{
  border-left: 3px solid $purple;
  display: flex;
  align-items: center;
  padding-left: 25px;
  margin-right: 0;
}

.dropdown-menu {
  border-radius: 15px;
}

#campaigns-nav, #log-out-nav, #log-in-nav {
  border-left: 3px solid $purple;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

#log-out-nav {
  border-right: 3px solid $purple
}
