
.world-header-h2 {
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}


.world-background-image-div {
  background: url('nebula.jpg');
  //  no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  text-align: center;
   /* vh stands for "viewport height", which makes the div at least as tall as the screen. */
}


// .world-background-image-muted {
  // background: url('nebula.jpg') no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // opacity: 0.5;

   /* vh stands for "viewport height", which makes the div at least as tall as the screen. */
// }


.world-card-container {
  display: flex;
  flex-wrap: wrap;

  h3 {
    margin: 0;
  }
}

.world-card {

  display: flex;
  flex-direction: column;
  flex: 1;
  color: #f1f3f3;
  font-size: 1.5rem;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 16px;
  margin: 16px;
  background-color: #181c24;
  border: 3px solid #ffd7004d;
  background-clip: padding-box;


  background-image: linear-gradient(
		135deg,
		rgba(#752e7c, 0.35),
		rgba(#734a58, 0.1) 15%,
		#1b2028 20%,
		#1b2028 100%
	);


}

.world-card:hover {
    box-shadow: 0px 0px 20px 10px rgba(113, 78, 124, 0.7); /* Your glowing effect, adjust as needed */
}

.world-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;

}

.world-card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}


.world-card-image img {
  width: 100%;  /* Makes the image take up the full width of its container */
  height: 390px;  /* This keeps the image's original aspect ratio */
  object-fit: cover;  /* This ensures that the image covers the whole area of its container, cropping if necessary */
  display: block;  /* This removes the default inline-block nature of images */
  margin: 0 auto;  /* This centers the image */


}

.world-card-icon {
  width: 80px;      /* Adjust these values to your preferred size */
  height: 80px;     /* Adjust these values to your preferred size */
  border-radius: 50%; /* Makes the image round */
  object-fit: cover;
  border: 3px solid #ffd7004d;  /* Ensures the image covers the whole area and remains centered */

}

.world-footer-text {
  padding: 16px;
  text-align: center;
}

.world-form-container {
  color: white;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 16px;

}
