.world-background-image-div {
  background: url('nebula.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh; /* vh stands for "viewport height", which makes the div at least as tall as the screen. */
}


.world-card-container {
  display: flex;
}

.world-card {
  display: flex;
  flex-direction: column;
  height: auto;
   flex: 0 0 33.33%;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 16px;
  margin: 24px;
  background-color: rgba(255, 255, 255, 0.8); /* white with 80% opacity */

  p {
    margin: 0;
  }

}

.world-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px;

}

.world-card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}


.world-card-image img {
  width: 100%;  /* Makes the image take up the full width of its container */
  height: auto;  /* This keeps the image's original aspect ratio */
  object-fit: cover;  /* This ensures that the image covers the whole area of its container, cropping if necessary */
  display: block;  /* This removes the default inline-block nature of images */
  margin: 0 auto;  /* This centers the image */


}

.world-card-icon {
  width: 80px;      /* Adjust these values to your preferred size */
  height: 80px;     /* Adjust these values to your preferred size */
  border-radius: 50%; /* Makes the image round */
  object-fit: cover;  /* Ensures the image covers the whole area and remains centered */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.world-footer-text {
  padding: 8px;
}

.world-form-container {
  color: white;
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;

}
